<h1>INICIAR SESSION</h1>
<form action="/sessions/login" method="post">
  email:
  <input type="text" name="email" /><br />
  password:
  <input type="text" name="password" /><br />
  <br />
  <input type="submit" value="login" />
  <br />
  <br />
  <div>
    <a href="/sessions/github">Entrar con Github</a>
  </div>
</form>