<h1>REGISTRAR USUARIO</h1>
<form action="/sessions/register" method="post">
  first_name:
  <input type="text" name="first_name" /><br />
  last_name:
  <input type="text" name="last_name" /><br />
  email:
  <input type="text" name="email" /><br />
  age:
  <input type="text" name="age" /><br />
  password:
  <input type="text" name="password" /><br />
  <br />
  <input type="submit" value="Create" />
</form>